{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Home{% endblock %} </title>
</head>
<body>
    {% block content %}
        
        <form method="post" enctype="multipart/form-data" >
            
            {% csrf_token %}

            <h4>Upload File: {{csv_form.csv_file}} </h4>
            
            <input type="submit" value="Save">
        </form>
        
        {% if messages %}
        <h2>Messages</h2>
        <ul>
            {% for message in messages %}
                <li{% if message.tags == 'error' %} style="color: red;"{% elif message.tags == 'warning' %} style="color: orange;"{% else %} style="color: green;"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
       
    {% endblock  %}



</body>
</html>
